{% extends "argentina/layout.html" %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            {% for destination in destinations %}
                <div class="col-xs-1 col-sm-6 col-md-4">
                    <div class="card bg-light mb-3">
                        <img class="card-img" src="../../static/argentina/images/{{destination.pic1_url }}" alt="Card image">
                        <div class="card-img-top">
                            <strong><h4 class="card-title text-center">{{ destination.name }}</h4></strong>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}