{% extends "argentina/layout.html" %}

{% block body %}
    <br>
    <div class="container">
        <div class="row">
            {% for excursion in excursions %}
            <div class="col-xs-1 col-sm-6 col-md-4">
                <div class="card bg-light mb-3" data-bs-toggle="modal" data-bs-target="#windowExcursion{{ excursion.id }}">
                    <img class="card-img" src="../../static/argentina/images/{{excursion.pic1_url }}" alt="Card image">
                    <div class="card-img-top">
                        <strong><h4 class="card-title text-center">{{ excursion.name }}</h4></strong>
                    </div>
                </div>
                <div class="modal fade" id="windowExcursion{{ excursion.id }}" tabindex="-1" aria-labelledby="label{{ excursion.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title fs-5" id="label{{ excursion.id }}">{{ excursion.name }} - {{ excursion.destination }}</h3>
                                <button tyle="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">  
                                <img src="../../static/argentina/images/{{ excursion.pic1_url }}" height="90px">
                                <img src="../../static/argentina/images/{{ excursion.pic2_url }}" height="90px">
                                <img src="../../static/argentina/images/{{ excursion.pic3_url }}" height="90px">
                                <br>
                                {{ excursion.description }}
                                <hr>
                                Interests:
                                {% for i in excursion.interests %}
                                    <span class="badge bg-secondary">{{ i }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}