{% extends "argentina/layout.html" %}

{% block body %}
    <h2>Excursions</h2>

        {% for excursion in excursions %}
            <h3>{{ excursion.name }}</h3>
            <p>{{ excursion.description }}</p>

            <img src="../../static/argentina/images/{{ excursion.pic1_url }}" height="240px">
            <img src="../../static/argentina/images/{{ excursion.pic2_url }}" height="240px">
            <img src="../../static/argentina/images/{{ excursion.pic3_url }}" height="240px">
            <hr>
        {% endfor %}


{% endblock %}