{% extends "argentina/layout.html" %}

{% block body %}
    <h2>Hotels</h2>

        {% for hotel in hotels %}
            <h3>{{ hotel.name }}</h3>
            <p>{{ hotel.description }}</p>

            <img src="../../static/argentina/images/{{hotel.pic1_url }}" height="240px">
            <img src="../../static/argentina/images/{{hotel.pic2_url }}" height="240px">
            <img src="../../static/argentina/images/{{hotel.pic3_url }}" height="240px">
            <hr>
        {% endfor %}


{% endblock %}