{% extends "argentina/layout.html" %}

{% block body %}
    <div id="homeimages">
        <img src="../../static/argentina/images/bg1.jpg" class="homeimage" id="bg1">
        <img src="../../static/argentina/images/bg2.jpg" class="homeimage" id="bg2">
        <img src="../../static/argentina/images/bg3.jpg" class="homeimage" id="bg3">
        <img src="../../static/argentina/images/bg4.jpg" class="homeimage" id="bg4">
        <img src="../../static/argentina/images/bg5.jpg" class="homeimage" id="bg5">
        <img src="../../static/argentina/images/bg6.jpg" class="homeimage" id="bg6">
        <img src="../../static/argentina/images/bg7.jpg" class="homeimage" id="bg7">
        <img src="../../static/argentina/images/bg8.jpg" class="homeimage" id="bg8">
        <img src="../../static/argentina/images/bg9.jpg" class="homeimage" id="bg9">
    </div>
{% endblock %}