{% extends "argentina/layout.html" %}

{% block body %}
    <h2>Destinations</h2>

        {% for destination in destinations %}
            <h3>{{ destination.name }}</h3>
            <p>{{ destination.description }}</p>

            <img src="../../static/argentina/images/{{destination.pic1_url }}" height="300px">
            <img src="../../static/argentina/images/{{destination.pic2_url }}" height="300px">
            <img src="../../static/argentina/images/{{destination.pic3_url }}" height="300px">
        {% endfor %}


{% endblock %}