{% extends "argentina/layout.html" %}

{% block body %}

    <h2>My Trips</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <hr>    
    {% for trip in trips %}
        <h3>Trip name: <a href="{% url 'trip' trip.id %}">{{ trip.name }}</a></h3>
        <h4>Trip date: {{ trip.start_date.date }}</h4>
        <h4>Total of nights: {{ trip.nights }}</h4>
        <h4>Finishing date: {{ trip.finish_date.date }}</h4>
        <hr>
        
        
    {% endfor %}


{% endblock %}