{% extends "argentina/layout.html" %}

{% block body %}
    <br>
    <div id="trip-id" class="d-none">{{ trip.id }}</div>
    <div class="container">
        <h2 class="d-inline" id="title">{{ trip.name }}</h2>
        <input class="d-none" id="titleinput" value=""></input>

        {% if request.user == trip.user %}
        <img src="../../static/argentina/images/icons/pencil-solid.svg" class="mx-3 mb-2 d-inline" id="pencil"></i>
        <button class="btn btn-primary d-none mx-3 mb-2" id="save-btn">SAVE</button>
    {% endif %}
    </div>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <hr>
    <div class="container">
        <div class="row">
            <main class="col col-md-12 col-lg-9">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Day</th>
                                <th scope="col">Destination</th>
                                <th scope="col">Excursion</th>
                                <th scope="col">Hotel</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.dayInTrip }}</td>
                                    <td>{{ item.destination }}<br>
                                    {% if item.excursion %}
                                        <td>{{ item.excursion.name }}
                                        </td>
                                    {% else %}
                                        <td>-</td>
                                    {% endif %}
                                    {% if item.hotel %}
                                        <td>{{ item.hotel }}</td>
                                    {% else %}
                                        <td>-</td>
                                    {% endif %}
                                    <td>
                                        <i class="fa-solid fa-eye trip-row" id="{{ item.id }}"></i>
                                        <i class="fa-sharp fa-solid fa-eye-slash d-none" id="hide-{{ item.id }}"></i>
                                    </td>
                                </tr>
                                <tr class="d-none" id="row-details-{{ item.id }}">
                                    <td colspan="5">
                                        {% if item.excursion %}
                                            <strong>{{ item.excursion.name }}</strong>
                                            <br>{{ item.excursion.description }}
                                        {% else %}
                                            <i>No excursions this day</i>
                                        {% endif %}
                                        <br>
                                        {% if item.hotel %}
                                            <strong>{{ item.hotel.name }}</strong>
                                            <br>{{ item.hotel.description }}
                                        {% else %}
                                            <i>Flight back home</i>
                                        {% endif %}
                                        <br>
                                        {% if item.warning %}
                                            <strong>{{ item.warning }}</strong>
                                        {% else %}
                                            <i>No warnings</i>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="" id="row-warning-{{ item.id }}">

                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
            <aside class="col col-md-12 col-lg-3">
                <div>
                    <h3>Sharing</h3>
                    {% if request.user == trip.user %}
                        {% if shared %}
                            <p>You have shared your trip with:</p>
                            <ul>
                            {% for user in shared %}
                                <li>{{ user.username }}</li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <p>You have not shared the trip with anybody yet.</p>
                        {% endif %}
            
                        <p>Select a username and click "Share" to share this trip.</p>
                        <form action="{% url 'share' trip.id %}" method="post">
                        {% csrf_token %}
                            <div class="form-group mb-2">
                                <select class="form-control" name="shared-users">
                                    {% for user in users %}
                                        <option class="user" value="{{ user.id }}">{{ user.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input class="btn btn-primary mb-3" type="submit" value="SHARE">
                        </form>
                    {% else %}
                        <p>
                            This is a trip that you do not own to share. You can leave a message
                            in the comments section <a href="#comments">below</a>.
                        </p>
                    {% endif %}
                </div>
            </aside>
        </div>
    </div>
    <hr>
    <div id="comments" class="container">
        <h3>Comments</h3>
        <form action="{% url 'add_comment' trip.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control my-2" type="text" name="comment">
                <input class="btn btn-primary my-3" type="submit" value="Add comment">
            </div>
        </form>
        {% for comment in comments %}
            <div><b>{{ comment.user }} ({{ comment.date }}): </b><i>{{ comment.comment }}</i></div>
        {% endfor %}
    </div>
    <br>
    {% block script %}
        <script src="../../static/argentina/js/edittrip.js"></script>
    {% endblock %}
{% endblock %}

