{% extends "argentina/layout.html" %}

{% block body %}
    <br>
    <div class="container">
        <h2>{{ trip.name }}</h2>
    </div>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <hr>
    <div class="container">
        <div class="row">
            <div class="col col-md-9">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Day</th>
                                <th scope="col">Destination</th>
                                <th scope="col">Excursion</th>
                                <th scope="col">Hotel</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.dayInTrip }}</td>
                                    <td>{{ item.destination }}<br>
                                    {% if item.excursion %}
                                        <td>{{ item.excursion.name }}
                                        </td>
                                    {% else %}
                                        <td>-</td>
                                    {% endif %}
                                    {% if item.hotel %}
                                        <td>{{ item.hotel }}</td>
                                    {% else %}
                                        <td>-</td>
                                    {% endif %}
                                </tr>
                                <tr class="d-none">
                                    <td colspan="2">
                                        <br>{{ item.excursion.description }}
                                    </td>
                                    <td colspan="2">
                                        <br>{{ item.hotel.description }}
                                    </td>
                                </tr>
                                <tr class="d-none">
                                    {% if item.warning %}
                                        <td colspan="4">{{ item.warning }}</td>
                                    {% else %}
                                        <td colspan="4">
                                            No warnings
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col col-md-3">
                <div>
                    <h3>Sharing</h3>
                    {% if request.user == trip.user %}
                        {% if shared %}
                            <p>You have shared your trip with:</p>
                            <ul>
                            {% for user in shared %}
                                <li>{{ user.username }}</li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <p>You have not shared the trip with anybody yet.</p>
                        {% endif %}
            
                        <p>Select a username and click "Share" to share this trip.</p>
                        <form action="{% url 'share' trip.id %}" method="post">
                        {% csrf_token %}
                            <div class="form-group mb-2">
                                <select class="form-control" name="shared-users">
                                    {% for user in users %}
                                        <option class="user" value="{{ user.id }}">{{ user.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input class="btn btn-primary mb-3" type="submit" value="SHARE">
                        </form>
                    {% else %}
                        <p>
                            This is a trip that you do not own to share. You can leave a message
                            in the comments section <a href="#comments">below</a>.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="comments" class="container">
        <h3>Comments</h3>
        <form action="{% url 'add_comment' trip.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control my-2" type="text" name="comment">
                <input class="btn btn-primary my-3" type="submit" value="Add comment">
            </div>
        </form>
        {% for comment in comments %}
            <div><b>{{ comment.user }} ({{ comment.date }}): </b><i>{{ comment.comment }}</i></div>
        {% endfor %}
    </div>
    <br>
{% endblock %}