body {
    color: #101010;
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: branditalic;
    src: url("../Qwigley-Regular.ttf");
}

#app-title {
    font-family: branditalic;
    font-size: 40px;
    text-align: center;
    padding: 2% 0;
    text-shadow: rgb(73, 73, 73) 1px 0 10px;
}

#video-header {
    position: relative;
    overflow: hidden;
    height: 100%;
}

video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

h2 {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.card:hover {
    box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.message {
    background-color: aquamarine;
}

#brand-name {
    font-family: branditalic, arial;
    font-size: 1.5rem;
}

#homeimages {
    display: flex;
    flex-wrap: no-wrap;
}

.homeimage {
    width: 2px;
    flex: auto;
}

.pencil {
    height: 18px;
}

.pencil:hover,
.pencil:focus {
    filter: invert(54%) sepia(4%) saturate(6%) hue-rotate(331deg) brightness(92%) contrast(81%);
}

#titleinput {
    width: 30%;
}

@media (min-width: 400px) {
    #brand-name {
      font-size: 2rem;
    }

    #app-title {
        font-size: 60px;
      }
  }

  